@keyframes pop-up {
  from { top: -1em; } to { top: 1.4em; }
}

*{
  margin          : 0;
  padding         : 0;
  text-decoration : none;
  border          : none;
  box-sizing      : border-box;
  font-size       : 16px;
}

:root{
  --azul          : #0000c7;
  --amarelo       : #cfcc00;
  --verde         : #017501;
  --vermelho      : #c00000;
  --sombra        : #00000083;
}

html, body{
  background-color: var(--azul);
  font-family     : 'Gill Sans', 'Gill Sans MT', sans-serif;
  height          : 100vh;
}

body, main, form{
  display         : flex;
  flex-direction  : column;
  justify-content : center;
}

body{
  align-items     : center;
}

main{
  background-color: #fff;
  align-items     : center;
  width           : 100%;
  max-width       : 500px;
  min-width       : 320px;
  height          : 100vh;
  position        : relative;
  justify-content : flex-start;
  padding-top     : 1em;
  box-shadow      : 0 0 5px var(--sombra);
}

.msg{
  display         : flex;
  justify-content : center;
  align-items     : center;
  position        : absolute;
  top             : 1.4em;
  width           : 90%;
  height          : 3em;
  border-radius   : .4em;
  animation       : pop-up .2s ease-out;
}

.success{
  background-color: var(--verde);
  color           : #fff;
}

.disable{
  display         : none;
}

h1{
  font-size       : 2em;
  color           : var(--azul);
}

span{
  font-size       : 1em;
  color           : var(--vermelho);
  border-bottom   : var(--verde) solid 5px;
}

form{
  width           : 90%;
  padding-top     : 1em;
}

label{
  margin-top      : 1em; 
}

label > span{
  border          : none;
}

input{
  border-bottom   : var(--azul) solid 2px;
  padding         : .4em 0;
  outline         : none;
}

input:focus{
  border-bottom   : var(--verde) solid 2px;
}

button{
  background-color: var(--azul);
  color           : #fff;
  margin          : 1em auto;
  padding         : .5em;
  width           : 50%;
  border-radius   : .5em;
  outline-color   : var(--azul);
}

#table, table{
  background-color: #fff;
  font-family     : Arial, Helvetica, sans-serif;
  width           : 100%;
  text-align      : center;
}

th{
  background-color: var(--azul);
  color           : #dedede;
  padding         : .3em;
}

#thName, #c{
  width           : 40%;
}

td{
  padding         : .3em;
  background-color: #00aeff;
}

.clearAll, .clear{
  cursor          : pointer;
}

.clearAll{
  background-color: #ff0000;
}

.clear{
  font-weight     : bold;
  background-color: #eee;
  border          : #ff0000 solid 1px;
  color           : #ff0000;
}

.full-modal{
  position        : absolute;
  background-color: #000000;
  opacity         : .75;
  height          : 100vh;
  width           : 100%;
}

.modal{
  background-color: #00aeff;
  position        : absolute;
  width           : 80%;
  border-radius   : .5em;
  padding         : .5em;
  box-shadow      : 0 0 3px #0000007c;
}

.ask{
  background-color: #0000c7;
  font-size       : 1.2em;
  padding         : .5em;
  border-radius   : .25em;
  color           : #fff;
  box-shadow      : 0 0 3px #000000fb;
}

.text{
  font-size       : 1.1em;
  padding         : 1em .25em;
  text-align      : center;
}

.buttons{
  display         : flex;
  justify-content : space-between;
}

.buttons button{
  width           : 49%;
  margin          : 0.2em 0;
}

.y{
  background-color: #017501;
  color           : #eee;
}

.n{
  background-color: #c00000;
  color           : #eee;
}